{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finance_entry.css') }}">
{% endblock %}

{% block content %}
    <div id="edit-income-container" class="register-login-container">
        <h2>Edit Income</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.amount.label }}<br>
                {{ form.amount(size=32) }}
            </p>
            <p>
                {{ form.source.label }}<br>
                {{ form.source(size=32) }}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(size=255) }}
            </p>
            <p>{{ form.submit(value="Update") }}</p>
        </form>
    </div>
{% endblock %}
