{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finance_entry.css') }}">
{% endblock %}

{% block content %}
    <div id="incomes-container" class="register-login-container">
        <h2>Income List</h2>
        <a href="{{ url_for('main.add_income') }}">Add Income</a>
        <ul>
            {% for income in incomes %}
                <li class="finance-entry-item">
                    <h2 class="heading">{{ income.source }}</h2>
                    <h3 class="amount">${{ income.amount }}</h3>
                    <p class="description">{{ income.description }}</p>
                    <p class="date">({{ income.date_posted.strftime('%Y-%m-%d') }})</p>
                    <a class="edit-link" href="{{ url_for('main.edit_income', id=income.id) }}">Edit</a>
                    <form action="{{ url_for('main.delete_income', id=income.id) }}" method="post" style="display:inline;">
                        <input class="error-color" type="submit" value="Delete">
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
